*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style:none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}

 header{ background-color: #272d37;
        width: 100%;
        height: 65px;
        display: flex;
        padding: 0px 30px;
        justify-content: space-between;
        text-align: center;
        position: fixed;}

        .nav-bar{gap: 150px;}

        .nav-bar, .nav-bar-list{display: flex;
        justify-content: center;
        align-items: center;}

        .nav-bar-list{gap: 20px;}

        .nav-bar-list a{  color: #adb9c7;
        font-size: 14px;}


        .nav-bar-list li:first-child > a{color: white;
                                font-weight: bold;}

        .nav-bar-list a:hover{color:indigo}

        .logo-gengar{padding: 6px 0px;}

        .logo-carrito{ cursor: pointer;
            height: 40px;
            padding: 6px 0px;
            margin-right: 10px;
            }
            
                






